
<div class="categories">
    <div class="title">
        <h1>{{ page?.title }}</h1>
        <p>
            {{ page?.description }}
        </p>
    </div>
</div>
<div class="buttons">
    <button *ngFor="let button of buttons"
        (click)="getBooks(button)"
        [disabled]="button.disabled"
        class="button"
        >
        <i [style.background-image]="'url(./../assets/icons/' + button.iconName + ')'" class="icon-before"></i>
        {{ button.buttonText }}
        <i class="icon-after"></i>
    </button>
</div>