
  
.container {
	display: flex !important;
	flex-direction: column;
	min-height: 100vh;
}
  
  
@media (min-width: 768px) {
	.container {
	  display: grid;
	  grid-template-columns: 200px 1fr 200px;
	  grid-template-rows: auto 1fr auto;
	}
}
  
  
  header {
	grid-column: span 3;
	padding: 10px;
	text-align: center;
	font-size: 1.4em;
	color: white;
  }
  
main {
	flex: 1;
	padding: 0 0 20px 0;
	background: #F8F7FF;
}

footer {
	grid-column: span 3;
	padding: 10px;
	text-align: center;
	font-size: 1.4em;
	color: white;
}
  
